.categories {
  background: #fff;
  color: #464646;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 90px;
  position: sticky;
  top: 80px;
}

.category.list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 42px;
  font-size: 12px;
  font-weight: 600;
}

.category.list li {
  padding: 2px 0;
  min-width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.category.list button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.category.list button:hover {
  color: #f75239;
  font-weight: 500;
}

.category.showcase {
  margin-top: 50px;
}

.categories-container {
  padding: 20px;
}

.category.slogan {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  font-weight: 900;
  margin: 0 0 8px;
  padding: 0 0 10px;
  width: 100%;
}

.project.alert {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}
