.nav {
  width: 100%;
  background-color: #402f3f;
  padding: 0;
  border-bottom: 1px solid #271c26;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 42px;
  left: 0;
}

.navContainer {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  color: RGBA(237, 240, 241, 0.6);
}

.menu.right {
  width: 330px;
  display: flex;
  justify-content: center;
}

.menu.left {
  display: flex;
  width: 840px;
  align-items: center;
}

.browse {
  margin-left: 20px;
  color: RGBA(237, 240, 241, 1);
}
