.nav {
  width: 100%;
  background-color: #402f3f;
  padding: 0;
  border-bottom: 1px solid #271c26;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 42px;
  left: 0;
}

.navContainer {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  color: RGBA(237, 240, 241, 0.6);
}

.menu.right {
  width: 330px;
  display: flex;
  justify-content: center;
}

.menu.left {
  display: flex;
  width: 840px;
  align-items: center;
}

.browse {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 20px;
  color: RGBA(237, 240, 241, 1);
}
.dropdown.menu {
  position: absolute;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  margin-top: 10px;
}

.dropdown.menu li {
  padding: 6px 20px;
  font-weight: 500;
}

.contact {
  color: red;
}
