#body {
  background-color: #f7f7f7;
  font-family: "Asap", sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.main.container {
  width: 1400px;
  display: flex;
  justify-content: center;
}
.container {
  width: 850px;
  margin: 0 auto;
}

.grid.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
